* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
  }

body {background-color: rgb(29, 32, 37);}


.container{
    display: grid;
    border-style: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        'main-content main-content sidebar'
        'header header header '
        'navbar navbar navbar'
        'navbar navbar navbar'
        'box-1 box-2 box-3'
        'box-1 box-2 box-3'
        'box-4 box-5 box-6'
        'box-4 box-5 box-6'
        'footer footer footer';
    grid-gap: 1rem;
}

@media (max-width:500px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        'sidebar'
        'main-content'
        'header'
        'navbar'
        'box-1'
        'box-2'
        'box-3'
        'box-4'
        'box-5'
        'box-6'
        'footer'
    }
}

header{
    grid-area: header;
    border: none;
    text-align: center;
}

/* Navbar */
.navbar{
    grid-area: navbar;
    background-color:rgb(29, 32, 37);
    text-align:center;
    margin: auto;
    left: 0;
    right: 0;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: rgb(0, 217, 255);
}
  
.active {
    background-color: rgb(201, 57, 57);
}

.main-content{
    font-size: 30px;
    grid-area: main-content;
    padding: 5px;
    text-align: center;
    object-fit: cover;
}

.sidebar{
    font-size: 30px;
    grid-area: sidebar;
    padding: 5px;
    text-align: center;
    margin: auto;
    top: 0;
    bottom: 0;
}

#box-1{
    font-size: 20px;
    color: seashell;
    grid-area: box-1;
    background-image:url(./media/me1.jpg);
    height: 610px;
    width: auto;
    background-color: rgb(201, 57, 57);
    background-position: 10% 10%;
    background-size: cover;
}
#box-2{    
    font-size: 20px;
    color: seashell;
    grid-area: box-2;
    background-image:url(./media/me3.jpg);
    height: 610px;
    width: auto;
    background-color: rgb(201, 57, 57);
    background-position: 10% 10%;
    background-size: cover;}
#box-3{
    font-size: 20px;
    color: seashell;
    grid-area: box-3;
    background-image:url(./media/me2.jpg);
    height: 610px;
    width: auto;
    background-color: rgb(201, 57, 57);
    background-position: 10% 10%;
    background-size: cover;
}
#box-4{
    grid-area: box-4;
}
#box-5{
    grid-area: box-5;
}
#box-6{
    grid-area: box-6;
}


footer{
    grid-area: footer;
    text-align: center;
}

.header, #box-1, #box-2, #box-3, footer {
/* border: #ccc 1x solid; */
border-style: groove;
border-width: 1px;
border-color: #ccc;
}